.header-bg-lib {
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  min-height: 230px;

  background-color: $textColorDark;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(/src/images/header/bg-libra-320-1x-min.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/src/images/header/bg-libra-320-2x-min.jpg);
  }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include min768 {
    min-height: 216px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/src/images/header/bg-libra-768-1x-min.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(/src/images/header/bg-libra-768-2x-min.jpg);
    }
  }

  @include min1280 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/src/images/header/bg-libra-1280-1x-min.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(/src/images/header/bg-libra-1280-2x-min.jpg);
    }
  }
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 54px;

  @include min768 {
    margin-top: 40px;
  }
}

.library__buttons {
  width: 130px;
  height: 44px;
  margin-left: 20px;
  border: 1px solid $textColorOnDark;
  border-radius: 5px;
  color: $textColorOnDark;
  font-size: $font-size;
  line-height: 1.33;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1s;

  @include min768 {
    width: 145px;
    margin-left: 30px;
  }

  &:first-child {
    margin-left: 0;
  }
}

.library__button--active {
  border: none;
  outline: none;
  background: $accentColor;
  //   box-shadow: 0 0 10px $accentColor, 0 0 20px $accentColor,
  //     0 0 40px $accentColor, 0 0 80px $accentColor;
}

.library__buttons:hover {
  font-size: 14px;
  font-weight: 500;
  color: $primaryTextColor;
  background: $btnHoverColor;
  border: 1px solid $btnHoverColor;
  box-shadow: 0 0 10px $btnHoverColor, 0 0 20px $btnHoverColor,
    0 0 40px $btnHoverColor;
}
.content__wrapper {
  margin: auto;
}

.content__title {
  color: $footerTextColor;
  background-color: #ffffffe5;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.1;
  @include min768 {
    font-size: 18px;
  }
}

.content__text {
  color: $accentColor;
}
