.header-bg {
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  min-height: 230px;

  background-color: $textColorDark;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(/src/images/header/bg-home-320-1x-new.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(/src/images/header/bg-home-320-2x-min.jpg);
    }

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include min768 {
    min-height: 216px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/src/images/header/bg-home-768-1x-new.jpg);

     @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
       background-image: linear-gradient(
           rgba(0, 0, 0, 0.56),
           rgba(0, 0, 0, 0.56)
         ),
         url(/src/images/header/bg-home-768-2x-min.jpg);
     }
  }

  @include min1280 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/src/images/header/bg-home-768-1x-new.jpg);

     @media (min-device-pixel-ratio: 2),
       (min-resolution: 192dpi),
       (min-resolution: 2dppx) {
       background-image: linear-gradient(
           rgba(0, 0, 0, 0.56),
           rgba(0, 0, 0, 0.56)
         ),
         url(/src/images/header/bg-home-1280-2x-min.jpg);
     }
  }
}
// *logo
.logo {
  position: absolute;
  top: 46px;

  @include min768 {
    display: flex;
    align-items: baseline;
  }

  text-decoration: none;
}

.logo__name {
  //   display: block;
  font-weight: 500;
  font-size: 30px;
  //   line-height: 2;
  color: $textColorOnDark;
  @include max767 {
    display: none;
  }
}

.logo__icon {
  stroke: currentColor;
  fill: transparent;
  @include min768 {
    margin-right: 10px;
  }
}

.wrapper-logo {
  display: flex;
  align-items: center;
  color: white;
}

.wrapper-logo:hover {
  color: $accentColor;
}

//* вариант 2
$animation-delay: 250ms;
$duration: 1000ms;
$iterations: 1;

.reveal-text,
.reveal-text:after {
  animation-delay: $animation-delay;
  animation-iteration-count: $iterations;
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0.1, 1, 0);
}

.reveal-text {
  position: relative;
  user-select: none;
  animation-name: reveal-text;
  color: $textColorOnDark;
  text-shadow: 2px 2px 5px $textColorOnDark;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $accentColor;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer-text;
  }
}

@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes revealer-text {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  50% {
    transform: scaleX(1);
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

.rise-text,
.rise-text:after {
  animation-delay: $animation-delay;
  animation-iteration-count: $iterations;
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0.1, 1, 0);
}

.navigation__logo:hover > svg,
.navigation__logo:hover > span {
  color: $accentColor;
}

.rise-text {
  position: relative;
  user-select: none;
  animation-name: rise-text;
  color: $textColorOnDark;
  text-shadow: 3px 3px 5px $textColorOnDark;

  &:hover {
    color: $accentColor;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $accentColor;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: risyer-text;
  }
}

@keyframes rise-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes risyer-text {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  50% {
    transform: scaleX(1);
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

// *navigation
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.side-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
  line-height: 1.17;
  text-transform: uppercase;

  color: $textColorOnDark;

  @include min768 {
    font-weight: 500;
    font-size: $font-size;
  }
}

.side-nav__item {
  //margin-left:30px;

  margin-left: 15px;
  @include min480 {
    margin-left: 20px;
  }
  @include min768 {
    margin-left: 30px;
  }
}

.side-nav__link {
  display: inline-block;
  color: inherit;
  position: relative;
  padding: 5px;
  overflow: hidden;
  transition: 0.2s;
  &:hover {
    background-color: $accentColor;
    box-shadow: 0 0 10px $accentColor, 0 0 40px $accentColor,
      0 0 80px $accentColor;
    transition-delay: 0.6s;
  }
  @include min480 {
    padding: 10px;
  }
}
.side-nav__link span {
  position: absolute;
  display: block;
}

.side-nav__link span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, $accentColor);
}

.side-nav__link:hover span:nth-child(1) {
  left: 100%;
  transition: 0.6s;
}

.side-nav__link span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, $accentColor);
}

.side-nav__link:hover span:nth-child(2) {
  top: 100%;
  transition: 0.6s;
  transition-delay: 0.15s;
}

.side-nav__link span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, $accentColor);
}

.side-nav__link:hover span:nth-child(3) {
  right: 100%;
  transition: 0.6s;
  transition-delay: 0.3s;
}

.side-nav__link span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, $accentColor);
}

.side-nav__link:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.6s;
  transition-delay: 0.45s;
}

.side-nav__link--current {
  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    height: 2px;
    width: 100%;

    background-color: $accentColor;
  }
}

// *search form
.search-form {
  position: relative;
  text-align: center;
  margin-top: 34px;

  @include min768 {
    margin-top: 20px;
  }
}

.search-field {
  font-size: 17px;
  line-height: 1.17;
  width: 100%;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid $textColorOnDark;
  color: $textColorOnDark;

  @include min768 {
    max-width: 336px;
  }
  @include min1280 {
    max-width: 394px;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.56);
    font-size: 14px;
  }
}

.search-field:focus {
  outline: none;
  border-bottom: 1px solid $accentColor;

  &::placeholder {
    opacity: 0.5;
  }
}

.search-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;

  @include min768 {
    right: 190px;
  }

  @include min1280 {
    right: 415px;
  }

  padding: 0;
  background-color: transparent;
  border: transparent;
  color: $textColorOnDark;
}

.search-btn:hover {
  transform: scale(1.5);
  transition: 0.7s;
}

.useName {
  position: absolute;
  right: 2.2rem;
  top: 1.2rem;

  color: white;

  font-size: 15px;
}

.disabled-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
