
.icon {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    margin: 25px;
    color: b;
}


.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    // z-index: -1;
    pointer-events: none;
}

.icon-list {
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
}

.is-hidden {
    opacity: 0;
    pointer-events: 0;
    visibility: hidden;
}

.blockedSreen {
    pointer-events: all;
}