// .body {
//     background-color: rgb(184, 184, 184) rgb(44, 24, 24);
// }

.darktheme-btn {
    padding: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
}

.darktheme-icon {
    width: 30px;
    height: 30px;
    transition: 250ms;
    position: absolute;
}
    
.darktheme-icon__moon {
    fill: white;
    opacity: 0;
}

.darktheme-icon__sun {
    fill: $accentColor;
}