// .body {
//     background-color: rgb(184, 184, 184) rgb(44, 24, 24);
// }

.darktheme-btn {
    padding: 0;
    background-color: transparent;
    // position: absolute;
    left: 65px;
    top: 170px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    left: 48%;
}

.darktheme-icon {
    width: 30px;
    height: 30px;
    transition: 250ms;
    position: absolute;
}
    
.darktheme-icon__moon {
    fill: rgb(17, 101, 228);
    opacity: 0;
}

.darktheme-icon__sun {
    fill: rgb(233, 164, 14);
}