.show-modal{
overflow: hidden;
}

body.show-modal .backdrop-film-modal {
opacity: 1;
pointer-events: initial;
visibility: visible;
position: fixed;
}

.show-modal .modal-film {
left: 50%;
transform: translate(-50%);
opacity: 1;

@media screen and (min-width: 768px) {
transform: translate(-50%, -50%);
}
}


.backdrop-film-modal {
pointer-events: none;
opacity: 0;
visibility: hidden;

top: 0;
width: 100%;
height: 100%;
background-color: rgba(5, 5, 5, 0.4);
overflow-y: scroll;
transition: all 0.8s ease 0s;
}

.modal-film {
opacity: 0;

position: absolute;
top: 0;
left: 0;
transform: translate(-150%);
background-color: #ffffff;
border-radius: 5px;
width: 280px;
min-height: 560px;

overflow-y: auto;
transition: all 0.8s ease 0s;

padding: 48px 20px 40px 20px; 
margin-top: 20px;
 

@media screen and (min-width: 768px) {
top: 50%;
width: 704px;
min-height: auto;
padding: 40px 72px 40px 36px; 
}

@media screen and (min-width: 1280px) {
width: 806px;
min-height: auto;
padding: 40px 12px 40px 12px; 
  }

}

.modal-film-close__btn{
background-color: black;
position: fixed;
text-align: center;
align-items: center;
top: 16px;
right: 16px;
padding: 0;
cursor: pointer;
}

.modal-film__vector {
position: absolute;
left: -16px;

border-radius: 50%;
cursor: pointer;

outline-color: $btnHoverColor;
outline-offset: 0px;
text-shadow: none;
transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1); 

&:hover,
&:active { 
transform: scale(1.5);
color: $btnHoverColor;
outline: 10px solid $btnHoverColor;
outline-color: rgba(255, 255, 255, 0);
outline-offset: 15px;
}
}


.film-info-container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.film-poster-img {
max-width: 100%;
height: auto;
display: block;
 
@media screen and (min-width: 768px) {
max-width: 264px;
padding-top: 0;
margin-right: 68px;
  }

  @media screen and (min-width: 1280px) {
max-width: 375px;
margin-right: 16px;
  }
}

.name-film{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;

color: $primaryTextColor;

padding-top: 20px;
padding-bottom: 20px;

@media screen and (min-width: 768px) {
padding-top: 0;
  }

 @media screen and (min-width: 1280px) {
font-size: 30px;
line-height: 35px;
  }

}

.value-films {
padding-bottom: 20px;
@media screen and (min-width: 768px) {
max-width: 264px;
  }

@media screen and (min-width: 1280px) {
max-width: 391px;
  }
}

.vote{
font-weight: 500;
font-size: 12px;
line-height: 1.33;
width: 36px;
height: 16px;
padding: 1px 10px;
color: $textColorOnDark;
background-color: $btnHoverColor;
text-transform: uppercase;
border-radius: 5px;
}

.vote-count{
font-weight: 500;
font-size: 12px;
line-height: 1.33;
width: 36px;
height: 16px;
padding: 1px 10px;
color: $primaryTextColor;
background-color: $footerBgColor;
text-transform: uppercase;
border-radius: 5px;
}


.info-film{
width: 69px;
padding-bottom: 8px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;

color: $modalTextColor;

@media screen and (min-width: 1280px) {
font-weight: 500;
font-size: 12px;
line-height: 16px;
  }
}

.info-value {
padding-left: 41px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;


color: $primaryTextColor;
}

.original-title {
  text-transform: uppercase;
}

.about-film-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;

text-transform: uppercase;

color: $primaryTextColor;

padding-top: 20px;
padding-bottom: 8px;
}

.about-film-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;

color: $primaryTextColor;
}


.modal-btn-wrapper{
  display: flex;
}

.film-modal-btn {
font-family: 'Roboto';
font-weight: 500;
font-size: 12px;
line-height: 16px;

align-items: center;
text-align: center;
text-transform: uppercase;
color: $primaryTextColor;
background-color: $textColorOnDark;
box-sizing: border-box;
cursor: pointer;
outline: 1px solid $btnHoverColor;
outline-color: $btnHoverColor;
outline-offset: 0px;
text-shadow: none;
transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1); 

&:hover,
&:active {
transform: scale(1.1);
outline: 5px solid $btnHoverColor;
box-shadow: inset 0 0 20px $btnHoverColor;
outline-color: rgba(255, 255, 255, 0);
outline-offset: 15px;
}

&:disabled {
transform: scale(1);
outline: none;
box-shadow: none;
}


margin-top: 20px;
border: 1px solid $btnHoverColor;
border-radius: 5px;

width: 110px;
height: 55px;

@media screen and (min-width: 768px) {
width: 125px;
height: 44px;
  }

@media screen and (min-width: 1280px) {
width: 136px;
height: 44px;
}


&:first-child{
margin-right: 20px;

@media screen and (min-width: 768px) {
margin-right: 15px;
  }
  }
}