body.show-modal .backdrop-film-modal{
   opacity: 1;
   visibility: visible;
   pointer-events: initial; 
}


.backdrop-film-modal {
opacity: 0;
position: fixed;
top: 0;
width: 100vw;
height: 100vh;
background-color: rgba(5, 5, 5, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-film {
box-sizing: border-box;
width: 280px;
min-height: 560px;
background-color: #ffffff;
border-radius: 5px;

position: absolute;

top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 16px 20px 40px 20px; 

 @media screen and (min-width: 768px) {
    width: 704px;
    min-height: 552px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    min-height: 558px;
  }

}

.modal-film-close__btn{
background-color: #ffffff;
position: fixed;
text-align: center;
align-items: center;
top: 16px;
right: 16px;
width: 18px;
height: 18px;
}

.modal-film__vector{
position: absolute;
top: 0;
left: 0;
}

.film-card {
  display: flex;
}

.info {
  display: inline;
  margin-top: 20px;
}


.name-film {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;
color: #000000;

padding-top: 40px;
padding-bottom: 20px;
}

.info-film {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #000000;
}

.info-value{
  margin-left: 20px;
}







