.footer {
  background-color: teal;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: $footerBgColor;
  @include min768 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer-wrap {
  // position: absolute;
  // bottom: 0;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  @include flex(flex, center, center);
  @include min768 {
    padding: 0;
  }
}
.content {
  min-width: 235px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: $footerTextColor;

  @include min768 {
    min-width: 480px;
    font-size: 16px;
    line-height: 1.18;

    & br {
      display: none;
    }
  }
}

.footer-wrap__icon {
  color: $accentColor;
  margin-right: 10px;
  margin-left: 10px;
}

.team-modal {
  padding: 0;
  background: transparent;
  color: $footerTextColor;
  font-size: 14px;
  line-height: 1.14;

  cursor: pointer;
  @include min768 {
    font-size: 16px;
    line-height: 1.18;
  }

  & span {
    text-decoration: underline;
  }
}

.heart-icon {
  fill: currentColor;
  animation-iteration-count: infinite;
}
