.movies-card__item {
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.02);
  }
}

.movies-card__thumb > img {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 8px;
  @include min768 {
    height: 455px;
  }
  @include min1280 {
    margin-bottom: 12px;
    height: 574px;
  }
}

// .movies-card__item .movies-card__thumb > img {
//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     overflow: hidden;
//     -webkit-box-shadow: 5px 5px 15px 5px #000000;
//     box-shadow: 5px 5px 15px 5px #000000;
//   }
// }

.movies-card__heading,
.movies-card__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  @include min1280 {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movies-card__heading {
  text-transform: uppercase;
  color: $primaryTextColor;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.movies-card__text {
  color: $accentColor;
  margin-top: 1px;
}

.movies-card__rating {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  padding: 1px 10px;

  color: $textColorOnDark;
  background-color: $btnHoverColor;
  text-transform: uppercase;
  border-radius: 5px;
  margin-left: 8px;

  @include min1280 {
    font-size: 14px;
    padding: 3px 12px;
    vertical-align: middle;
  }
}
