.movies-card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // margin-top: -20px;
}
.movies-card__item {
  margin-top: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.02);
  }
}

@include min768 {
  .movies-card__list {
    margin-left: -30px;
  }
  .movies-card__item {
    justify-content: center;
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .movies-card__thumb {
    width: 366px;
    height: 455px;
  }
}

// .movies-card__link {
//   display: block;
// }

.movies-card__content {
  margin-top: 10px;
}

.movies-card__thumb {
  width: 280px;
  height: 398px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.movies-card__heading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: $font-size;
  line-height: 1.33;
  color: $primaryTextColor;
}

.movies-card__text {
  font-weight: 500;
  font-size: $font-size;
  line-height: 1.33;
  color: $accentColor;
  margin-top: 1px;
  margin-right: 8px;
}

.movies-card__rating {
  width: 36px;
  height: 16px;
  padding: 1px 10px;
  color: $textColorOnDark;
  background-color: $btnHoverColor;
  border-radius: 5px;
}
