.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: #fff;
}

.pagination.visually-hidden {
  padding: 0;
}

.pagination__list {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.207);

  @include min768 {
    padding: 20px;
  }
}

.pagination__button {
  line-height: 30px;
  height: 30px;
  width: 30px;
  padding: 0;
  background-color: transparent;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include min768 {
    line-height: 45px;
    height: 45px;
    width: 45px;
    font-size: 18px;
  }
}

.pagination__button:not(:last-child) {
  margin-left: 3px;

  @include min768 {
    margin-left: 10px;
  }
}

.pagination__button:hover {
  background-color: #ff6b08;
}

.pagination__button--prev {
  border-radius: 25px 5px 5px 25px;
}

.pagination__button--next {
  border-radius: 5px 25px 25px 5px;
}

.pagination__button--current {
  background-color: #ff6b08;
  pointer-events: none;
}

.pagination__dots {
  font-size: 10px;
  line-height: 30px;
  height: 30px;
  width: 100%;

  cursor: default;

  @include min768 {
    font-size: 18px;
    line-height: 45px;
    height: 45px;
  }
}
