.options{
    display: flex;
    align-items: center;
    position:absolute;
    top: 12px;
    left: -2px;
    width: 100%;
    justify-content: space-between;
    @include min768 {
        top: 20px;
        justify-content: flex-start;
      }
}

.translator-element{
    padding: 4px;
    margin-right: 10px;
    width: 28px;
    height: 24px;
}

.translator-link{
    cursor: pointer;
    color: #969899;
    font-weight: 400; 
}

.translator-link :hover{
    color: #a7a9aa;
    transform: scale(1.5);
    transition: 0.25s;
}

