<header class="header-bg" data-id="header">
  <div class="container">
      <nav class="navigation">
        <div class="options">
          <div class='translator-element' >
            <a href="" class="translator-link">
            </a>
        </div>
          <button class="darktheme-btn">
            <svg class="darktheme-icon darktheme-icon__sun">
              <use href="./images/icons.svg#icon-sun">
            </svg>
            <svg class="darktheme-icon darktheme-icon__moon">
              <use href="./images/icons.svg#icon-moon">
            </svg>
          </button>
        </div>
        <a class="navigation__logo" data-id="logoLink">
          <svg class="logo__icon" width="24" height="24">
            <use href="/src/images/icons.svg#icon-film"></use>
          </svg>
          <span class="logo__name">Filmoteka</span>
        </a>
		  
        <ul class="side-nav">
          <li class="side-nav__item">
            <a href="" class="side-nav__link" data-id="home">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Home
            </a>
          </li>
          <li class="side-nav__item">
            <a href="" class="side-nav__link" data-id="library">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              My library</a
            >
          </li>
			 <li class="side-nav__item">
            <a href="" class="side-nav__link" data-id="auth">
					<span></span>
              <span></span>
              <span></span>
              <span></span>
              Check In</a
            >
          </li>
        </ul>
      </nav>
      <div class="js-active-header"></div>

    </div>
  </div>
  <div class="container-notifix" data-id="notifix"></div>
</header>
