<header class="header-bg-lib">
  <div class="endless-bg-color">
    <div class="container">
      <div class="header-section">
        <nav class="navigation navigation--lib">
          <a href="/src/index.html" class="navigation__logo">
            <svg class="logo__icon" width="24" height="24">
              <use href="/src/images/icons.svg#icon-film"></use>
            </svg>
            <span class="logo__name">Filmoteka</span>
          </a>
          <ul class="side-nav side-nav--lib">
            <li class="side-nav__item" data-id="home">
              <a href="/src/index.html" class="side-nav__link">Home</a>
            </li>
            <li class="side-nav__item" data-id="myLibrary">
              <a href="" class="side-nav__link side-nav__link--current"
                >My library</a
              >
            </li>
          </ul>
        </nav>

        <div class="buttons">
          <button
            type="button"
            class="library__buttons library__button--active"
            data-id="watchedBtn"
          >
            Watched
          </button>
          <button type="button" class="library__buttons" data-id="queueBtn">
            Queue
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
