<header class="header-bg" data-id="header">
  <div class="container">
      <nav class="navigation">
			<div class="wrapper-logo">
        <a class="navigation__logo " data-id="logoLink">
          <svg class="logo__icon animate__animated animate__flip" width="24" height="24">
				 <!-- animate__animated animate__backInLeft -->
            <use href="/src/images/icons.svg#icon-film"></use>
          </svg>
          <span class="logo__name">Filmoteka</span>
        </a>
		  </div>
        <ul class="side-nav">

          <button class="darktheme-btn">
            <svg class="darktheme-icon darktheme-icon__sun">
              <use href="./images/icons.svg#icon-sun">
            </svg>
            <svg class="darktheme-icon darktheme-icon__moon">
              <use href="./images/icons.svg#icon-moon">
            </svg>
          </button>

          <li class="side-nav__item">
            <a href="" class="side-nav__link" data-id="home">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Home
            </a>
          </li>
          <li class="side-nav__item ">
            <a href="" class="side-nav__link disabled" data-id="library">
					<!-- <svg class="disabled-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-lock">
            </svg> -->
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              My library</a
            >
          </li>
			 <li class="side-nav__item">
            <a href="#" class="side-nav__link" data-id="auth">
					<span></span>
              <span></span>
              <span></span>
              <span></span>
             <div class="enter-btn">
               Check In
             </div></a
            >
          </li>
        </ul>
      </nav>
      <div class="js-active-header"></div>

    </div>
    <div data-id="placeForName" class="useName">
      <!-- there will be user name -->
    </div>
  </div>
  <div class="container-notifix" data-id="notifix"></div>
</header>
