<div class="icons" data-icons id="icons-div" hidden>
    <ul class="icon-list animate__animated " name=" iconlist">
        <li class="animate__animated animate__zoomIn ">
            <svg class="icon icon-1 animate__animated animate__flash animate__infinite animate__slower animate__delay-5s">
                <use href="./images/icons.svg#icon-membrane">
            </svg>
        </li>
        <li class = "animate__animated animate__zoomIn animate__delay-1s">
            <svg class="icon icon-2 animate__animated animate__flash animate__infinite animate__slower animate__delay-5s">
                <use href="./images/icons.svg#icon-membrane">
            </svg>
        </li>
        <li class="animate__animated animate__zoomIn animate__delay-2s">
            <svg class="icon icon-3 animate__animated animate__flash animate__infinite animate__slower animate__delay-5s">
                <use href="./images/icons.svg#icon-membrane">
            </svg>
        </li>
        <li class="animate__animated animate__zoomIn animate__delay-3s">
            <svg class="icon icon-4 animate__animated animate__flash animate__infinite animate__slower animate__delay-5s">
                <use href="./images/icons.svg#icon-membrane">
            </svg>
        </li>
        <li class="animate__animated animate__zoomIn animate__delay-4s">
            <svg class="icon icon-5 animate__animated animate__flash animate__infinite animate__slower animate__delay-5s">
                <use href="./images/icons.svg#icon-membrane">
            </svg>
        </li>
    </ul>
</div>