
<div class="icons" data-icons id="icons-div">
    <ul class="icon-list animate__animated " name="iconlist " >
        <li class="animate__animated  is-hidden">
            <svg name = "svg" class="icon icon-1 animate__animated  animate__infinite animate__slower ">
                <use href="./images/icons.svg#icon-membrane">
            </svg>
        </li>
        <li class="animate__animated  is-hidden">
            <svg name = "svg" class="icon icon-2 animate__animated  animate__infinite animate__slower ">
                <use href="./images/icons.svg#icon-membrane">
            </svg>
        </li>
        <li class="animate__animated is-hidden">
            <svg name = "svg" class="icon icon-3 animate__animated  animate__infinite animate__slower ">
                <use href="./images/icons.svg#icon-membrane">
            </svg>
        </li>
        <li class="animate__animated is-hidden">
            <svg name = "svg" class="icon icon-4 animate__animated  animate__infinite animate__slower ">
                <use href="./images/icons.svg#icon-membrane">
            </svg>
        </li>
        <li class="animate__animated is-hidden">
            <svg name = "svg" class="icon icon-5 animate__animated  animate__infinite animate__slower ">
                <use href="./images/icons.svg#icon-membrane">
            </svg>
        </li>
    </ul>
</div>