<main class="main">
  <div class="container">
    <section class="movies">
      <div class="movies-filter__wrapper">
        <ul class="movies-filter__list">
          <li class="movies-filter__item">
            <button class="movies-filter__button" data-id="popular">
              popular
            </button>
          </li>
          <li class="movies-filter__item">
            <button class="movies-filter__button" data-id="rating">
              rating
            </button>
          </li>
          <li class="movies-filter__item">
            <button class="movies-filter__button" data-id="future">
              future
            </button>
          </li>
        </ul>
      </div>
      <h1 class="visually-hidden">search movies</h1>
      <ul class="movies-card" data-id="moviesCard"></ul>
    </section>
  </div>
</main>
