<!-- Team modal -->
<div class="backdrop visually-hidden" data-modal>
  <div class="team-modal-wrapper">
    <button
      tupe="button"
      class="team-modal__btn-close"
      data-modal-close
      data-id="teamModalClose"
    >
      <svg class="team-modal__btn-close-icon">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h2 class="team-modal-wrapper__title">S.W.A.T. 2.0</h2>
    <p class="team-modal-wrapper__after-title">
      System Wisdom and Agility Team
    </p>
    <ul class="team-modal__list">
      <li class="team-modal__item">
        <div class="team-modal-wrapper__img">
          <img
            src="./images/Pichkorskyi.jpg"
            alt=""
            class="team-modal__image"
          />
        </div>
        <div class="item-container">
          <h3 class="item-container__title">Andrew Pichkorsky</h3>
          <p class="item-container__text">Team Lead</p>
          <a href="mailto:desertptu4ka@gmail.com" class="item-container__mail"
            >desertptu4ka@gmail.com</a
          >
          <a class="item-container__git" href="#">Find on Github -> </a>
        </div>
      </li>
      <li class="team-modal__item">
        <div class="team-modal-wrapper__img">
          <img
            src="./images/Lytviak.jpg"
            alt="girl with curly hair"
            class="team-modal__image"
          />
        </div>
        <div class="item-container">
          <h3 class="item-container__title">Anastasia Lytwyak</h3>
          <p class="item-container__text">Scrum-master</p>
          <a href="mailto:lav21051991@gmail.com" class="item-container__mail"
            >lav21051991@gmail.com</a
          >
          <a class="item-container__git" href="#">Find on Github -> </a>
        </div>
      </li>
      <li class="team-modal__item">
        <div class="team-modal-wrapper__img">
          <img
            src="images/Chornyi.jpg"
            alt="man in grey T-shirt"
            class="team-modal__image"
          />
        </div>
        <div class="item-container">
          <h3 class="item-container__title">Orest Chornyi</h3>
          <p class="item-container__text">Developer</p>
          <a href="mailto:orest.chorny@gmail.com" class="item-container__mail"
            >orest.chorny@gmail.com</a
          >
          <a class="item-container__git" href="#">Find on Github -> </a>
        </div>
      </li>
      <li class="team-modal__item">
        <div class="team-modal-wrapper__img">
          <img
            src="images/Oshurkov.jpg"
            alt="main in white T-shirt"
            class="team-modal__image"
          />
        </div>
        <div class="item-container">
          <h3 class="item-container__title">Eduard Oshurkow</h3>
          <p class="item-container__text">Developer</p>
          <a href="mailto:drd2993@gmail.com" class="item-container__mail"
            >drd2993@gmail.com</a
          >
          <a class="item-container__git" href="#">Find on Github -> </a>
        </div>
      </li>
      <li class="team-modal__item">
        <div class="team-modal-wrapper__img">
          <img
            src="images/Lypchuk.jpg"
            alt="main in sweater"
            class="team-modal__image"
          />
        </div>
        <div class="item-container">
          <h3 class="item-container__title">Alexander Lypchuk</h3>
          <p class="item-container__text">Developer</p>
          <a href="mailto:eragmont@gmail.com" class="item-container__mail"
            >eragmont@gmail.com</a
          >
          <a class="item-container__git" href="#">Find on Github -> </a>
        </div>
      </li>
      <li class="team-modal__item">
        <div class="team-modal-wrapper__img">
          <img src="./images/Panasevich.jpg" alt="" class="team-modal__image" />
        </div>
        <div class="item-container">
          <h3 class="item-container__title">Nikita Panasewich</h3>
          <p class="item-container__text">Developer</p>
          <a
            href="mailto:nikita.panasevich22@gmail.com"
            class="item-container__mail"
            >nikita.panasevich22@gmail.com</a
          >
          <a class="item-container__git" href="#">Find on Github -> </a>
        </div>
      </li>
      <li class="team-modal__item">
        <div class="team-modal-wrapper__img">
          <img src="images/Krenichniy.jpg" alt="" class="team-modal__image" />
        </div>
        <div class="item-container">
          <h3 class="item-container__title">Yevhen Krenychnyi</h3>
          <p class="item-container__text">Developer</p>
          <a href="mailto:krenichniy1995@gmail.com" class="item-container__mail"
            >krenichniy1995@gmail.com</a
          >
          <a class="item-container__git" href="#">Find on Github -> </a>
        </div>
      </li>
      <li class="team-modal__item">
        <div class="team-modal-wrapper__img">
          <img
            src="./images/Hrynevetskyi.jpg"
            alt=""
            class="team-modal__image"
          />
        </div>
        <div class="item-container">
          <h3 class="item-container__title">Andrew Hrynevetskyi</h3>
          <p class="item-container__text">Developer</p>
          <a
            href="mailto:andrijgrineveckij@gmail.com"
            class="item-container__mail"
            >andrijgrineveckij@gmail.com</a
          >
          <a class="item-container__git" href="#">Find on Github -> </a>
        </div>
      </li>
      <li class="team-modal__item">
        <div class="team-modal-wrapper__img">
          <img src="./images/Nesterenko.jpg" alt="" class="team-modal__image" />
        </div>
        <div class="item-container">
          <h3 class="item-container__title">Anna Nesterenko</h3>
          <p class="item-container__text">Developer</p>
          <a href="mailto:white.nura@gmail.com" class="item-container__mail"
            >white.nura@gmail.com</a
          >
          <a class="item-container__git" href="#">Find on Github -> </a>
        </div>
      </li>
      <li class="team-modal__item">
        <div class="team-modal-wrapper__img">
          <img src="images/Ivanyuk.jpg" alt="" class="team-modal__image" />
        </div>
        <div class="item-container">
          <h3 class="item-container__title">Max Ivanyuk</h3>
          <p class="item-container__text">Developer</p>
          <a href="mailto:ivanukmaxim@gmail.com" class="item-container__mail"
            >ivanukmaxim@gmail.com</a
          >
          <a class="item-container__git" href="#" class="item-container__link"
            >Find on Github ->
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
